/* ==========================================================================
   Footer
   ========================================================================== */

.footer {
  background-color: transparent;
  padding: 18px var(--padding-x);
  margin-top: 32px;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.footer-content {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.footer-name {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--text-secondary);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.footer-email {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: var(--text-secondary);
  text-decoration: none;
}

.footer-email:hover {
  text-decoration: underline;
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  font-size: 15px;
  color: var(--text-muted);
}

.footer-links a:hover {
  color: var(--text-primary);
  opacity: 1;
}

/* @media (max-width: 768px) {
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
} */

@media (max-width: 480px) {
  .footer {
    padding: 18px var(--padding-x);
  }
}
